.DS_Store
venv
__pycache__
db.sqlite3
db-pre-feature-rework-volunteering.sqlite
autoperry/autoperry/*_secrets.py
bootstrap-5.2.3-dist.zip
bootstrap-5.2.3-dist/
logs/
backups/
backup_params
.coverage

