annotated-types==0.7.0
arrow==1.2.3
asgiref==3.5.2
attrs==22.2.0
coverage==7.1.0
crispy-bootstrap5==0.7
Django==4.1.13
django-bootstrap-datepicker-plus==5.0.2
django-crispy-forms==1.14.0
django-last-seen==0.3
django-use-email-as-username==1.2.0
ics==0.7.2
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
TatSu==5.13.1
typing-inspection==0.4.1
typing_extensions==4.15.0
