<!--users/templates/registration/password_reset_confirm.html-->

{% extends 'webapp/base.html' %}

{% block content %}

<h2>Password reset</h2>

{% if validlink %}

<p>Please choose a new password.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Confirm">
</form>

{% else %}

<div class="alert alert-danger" role="alert">
Invalid password reset link. You can <a href="{% url 'password_reset' %}" class="alert-link">try again</a>.
</div>

{% endif %}

{% endblock %}