label, input {
    display: block;
}
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.running {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.running li {
    margin-bottom: 0.5rem;
}
dd {
    margin-left: 1em;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.stats-head-label {
    left: calc(50% - 0.25rem);
    line-height: 1;
    padding-top: 0.5rem;
    position: relative;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.striped {
    background-image: repeating-linear-gradient(
    -45deg,
    yellow,
    yellow 20px,
    black 20px,
    black 40px
  );
    height: 10px;
}
/* Hack to force the .celebration div to expand to include all of the  floated image */
.celebration {
    overflow: auto;
    display: flex;
    align-items: center;
}
.celebration img {
    float: left;
    padding-right: 1em;
}
#logout-form {
  display: inline;
}
#logout-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}