label, input {
    display: block;
}
body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.running {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
dd {
    margin-left: 1em;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}
