
{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<div class="alert alert-danger" role="alert">

  <h4 class="alert-heading">Page not found</h4>

  <p>The page you just requested could not be found.</p>

  <p>If you got here by following a link actually on AutoPerry then that's a
  fault that the AutoPerry managers need to fix. They have already been told
  that something went wrong.</p>

  <p>If you typed the link yourself, or found it somewhere else (such as in an
  email) then check it for typing errors and try again, or contact whoever
  sent you the link.</p>

  <hr>

  <p class="mb-0">If you continue to have problems, please contact <a
  href="mailto:autoperry@cambridgeringing.info"
  class="alert-link">autoperry@cambridgeringing.info</a>.</p>

</div>

</div>

{% endblock %}