
{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<div class="alert alert-danger" role="alert">

  <h4 class="alert-heading">Internal error</h4>

  <p>Something just went badly wrong with the inner workings of AutoPerry.</p>

  <p>This is a fault that the AutoPerry managers need to fix. They have
  already been told that something went wrong.</p>

  <hr>

  <p class="mb-0">If you continue to have problems, please contact <a
  href="mailto:autoperry@cambridgeringing.info"
  class="alert-link">autoperry@cambridgeringing.info</a>.</p>

</div>

</div>

{% endblock %}