<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<div class="running">

<h2>About AutoPerry</h2>

<p>AutoPerry is a website with a single purpose - matching up people who are
willing to volunteer to help at bell ringing events with events where they
would be welcome.</p>

<p>Anyone can register, but this version of AutoPerry is for members of the <a
href="https://cambridgeringing.info/">Cambridge District</a> of the <a
href="https://www.elyda.org.uk/">Ely Diocesan Association of Church Bell
Ringers</a> and towers in the district. Various sorts of event can be
supported, but the main target are ordinary bell ringing practices which
would benefit from one or two visitors capable of ringing up to about Plain
Bob Minor.</p>

<p>Any registered user can create an event that needs helpers. Please don't be
over-demanding either in the number of helpers requested or the skills
required, because you may be disappointed. A new event can be created based
on the details of an existing one - this is a convenient way to create a
series of similar events such as a regular practice night.</p>

<p>If you create an event, do keep an eye on it and do remember to cancel your
request for help and let any helpers know if you no longer need them. Details
of events can be edited providing the event has no volunteers. If you need
to change details of a event that has volunteers you will have to cancel the
event and recreate it.</p>

<p>Registered users can volunteer to help with any event (and subsequently
change their mind). Please check that you match any requirements shown with
the event. Once you have volunteered, please don't forget to turn up.</p>

<p>You can edit your account details at any time. You can delete your account
providing you are not organising, or volunteering to help with, events which
have yet to happen. Information on <a href="{% url 'privacy' %}">how we use
the data you provide</a> is available.</p>

<p>The system's name - 'AutoPerry' - is based on ‘Auto-Sergei’ from
the 'Compare the Market' adverts and is a an acknowledgement of the work that
Geoff Perryman of Orwell put in over many years running the Cambridge
District's original practice night support scheme (the 'PerryPeople').</p>

</div>

{% endblock %}