<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<div class="running">

<h2>About AutoPerry</h2>

<p>AutoPerry is a website with a single purpose - matching up people who are
willing to volunteer to help at bell ringing events with events where they would be welcome.</p>

<p>Anyone can register, but this version of AutoPerry is aimed particularly at members of the
<a href="https://cambridgeringing.info/">Cambridge District</a> of the
<a href="https://www.elyda.org.uk/">Ely Diocesan Association of Church Bell Ringers</a> and
at tower in the district. Various sorts of event can be supported, but the main target
are ordinary bell ringing practices which would benefit from one or two visitors capable of ringing
up to about Plain Bob Major.</p>

<p>Any registered user can create events. Please don't be over-demanding either in the number of
helpers requested or the skills required, because you may be disappointed. Once you have created
an event, do keep an eye on it and do remember to let any helpers know if the event doesn't go ahead.
Currently the details of events can't be edited. This may change, but for the moment if you need to
change any details you will have to cancel the event ad recreate it.</p>

<p>Users can volunteer to help with any event. Once you have volunteered, please don't forget to
turn up.</p>

<p>You can edit your account details, or delete your account, at any time. Information on
<a href="{% url 'privacy' %}">how we use the data you provide</a> is available.</p>

</div>

{% endblock %}