<!--webapp/templates/base.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto-Perry</title>
    <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/autoperry.css' %}">
    <style>

</style>

</head>

<body>

  <div class="container-fluid">

    <div class="px-4 py-2 my-3 text-center text-bg-info p-3 col-lg-8 mx-auto">
      <h4>Demo site - all this data is fictional, none of it will be kept!</h5>
    </div>

{% include 'navigation.html' %}

{% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

  </div>

  <script src="{% static 'webapp/bootstrap.min.js' %}"></script>

</body>

</html>