<!--webapp/templates/base.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auto-Perry</title>
    <style>
    label, input {
        display: block;
    }
    span.helptext {
        display: inline;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }
    .registration .helptext {
        display: none;
    }
</style>

</head>

<body>

<h1>{% block heading %}Auto-Perry{% endblock %}</h1>

<p><a href="{% url 'index' %}">Home</a>

{% block user-mgmt %}{% endblock %}

{% block content %}
{% endblock %}

</body>

</html>