<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<h2>Cancel request for help</h2>

{% if event.past %}
   <h3><span class="badge text-bg-warning">This event has already happened</span></h3>
{% elif event.cancelled %}
   <h3><span class="badge text-bg-warning">Requests for help at this event have been cancelled</span></h3>
{% endif %}

<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"D, j M Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>
</dl>

{% if event.helpers.all %}
<p>There are currently helpers for this event. If you no longer need them then you need to let them know:</p>
    <ul>
          {% for helper in event.helpers.all %}
        <li>{{ helper.get_full_name }} ({{ helper.email|urlize }})</li>
          {% endfor %}
    </ul>
{% endif %}

<p>Are you sure you want to cancel your request for help at this event?</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" name="confirm" value="Yes, cancel request"{% if errors %}disabled{% endif %}>
</form>

{% endblock %}