<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block heading %}Auto-Perry: Events{% endblock %}

{% block content %}

<h2>{{ heading }}</h2>

<table border=1>

   <tr padding=5>
      <th>Location</th>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th>Requested helpers</th>
      <th>Current helpers</th>
      <th></th>
   </tr>

   {% for event in events %}
       <tr padding=5>
         <td>
           {{event.location}}
           {% if event.cancelled %}<br><b>*Cancelled*</b>{% endif %}
         </td>
         <td>{{event.start|date:"D, j M Y"}}</td>
         <td>{{event.start|date:"g:i a"}}</td>
         <td>{{event.end|date:"g:i a"}}</td>
         <td>{{event.helpers_required}}</td>
         <td>{{event.helpers_available}}</td>
         <td>
            {% if event.helpers_needed %}
              <a href="{% url 'volunteer'  event_id=event.pk %}">volunteer</a>
            {% else %}
              ---
            {% endif %}
         </td>
         <td><a href="{% url 'event_details'  event_id=event.pk %}">details</a>
      </tr>
   {% endfor %}

</table>

{% endblock %}
