<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block heading %}Welcome to Auto-Perry{% endblock %}

{% block content %}

<p>This is the Bellringing Practice Night Support service of the Cambridge District of the Ely Diocesan Association of Church Bell Ringers.</p>

{% if user.is_authenticated %}

<ul>
    <li><a href="{% url 'events' %}">All events</a></li>
    <li><a href="{% url 'my-events' %}">Your events</a></li>
    <li><a href="{% url 'create-event' %}">Create a new event</a></li>

</ul>

<h2>Events in the next fortnight needing volunteers</h2>

{% include 'events-list-fragment.html' %}

{% else %}

<table>

    <tr valign="top">
        <td valign="top" width="50%">

<h2>EITHER Login:</h2>

<form method="POST">
  {% csrf_token %}
  {{ login_form.as_p }}
  {% if next_page %}<input type="hidden" name="next_page" value="{{ next_page }}">{% endif %}
  <button type="submit" name="login">Login</button>
</form>

<p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>

       </td>
       <td  width="50%">

<h2>OR Register:</h2>

<form method="POST" class="registration">
    {% csrf_token %}
    {{ registration_form.as_p }}
    {% if next_page %}<input type="hidden" name="next_page" value="{{ next_page }}">{% endif %}
    <button type="submit" name="register">Register</button>
</form>

</td>
</tr>

</table>

{% endif %}

{% endblock %}