<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<h2>Your events</h2>

{% if request.session.include_past %}
<p><a href="{% url 'my-events' %}?past=n">Omit past events</a></p>
{% else %}
<p><a href="{% url 'my-events' %}?past=y">Include past events</a></p>
{% endif %}

<h2>Events you have volunteered for:</h2>

{% if events_as_voluteer %}
{% include 'events-list-fragment.html' with events=events_as_voluteer %}
{% else %}
<p>No events</p>
{% endif %}

<h2>Events you are organising:</h2>

{% if events_as_organiser %}
{% include 'events-list-fragment.html' with events=events_as_organiser %}
{% else %}
<p>No events</p>
{% endif %}

{% endblock %}
