<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<h2>Un-volunteer for an event</h2>

<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"l, j M Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>
</dl>

{% if errors %}
<ul>
{% for error in errors %}
  <li>{{ error }}</li>
{% endfor %}
</ul>
{% else %}

<p>Please confirm this is the event you want to un-volunteer for.</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="confirm" value="Un-volunteer">
</form>

{% endif %}

{% endblock %}