<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>About AutoPerry</h2>

<p>AutoPerry is a website with a single purpose - matching people who are
willing to volunteer to help at bell ringing events with events where they
would be welcome.</p>

<p>Anyone can register, but this version of AutoPerry only supports events in
the <a href="https://cambridgeringing.info/">Cambridge District</a> of the <a
href="https://www.elyda.org.uk/">Ely Diocesan Association of Church Bell
Ringers</a>. Various event can be supported, but the main targets are
ordinary bell ringing practices which would benefit from one or two visitors
capable of ringing up to about Plain Bob Minor.</p>

<p>Any registered user can volunteer to help with any event (and can
subsequently change their mind). Please check that you meet any requirements
shown with the event. Once you have volunteered, please don't forget to turn
up!</p>

<p>Any registered user can create an event that needs helpers. Please don't be
over-demanding either in the number of helpers requested or the skills
required, because you may be disappointed. New events can be created based on
the details of existing ones - this is a convenient way to create a series of
similar events such as a regular practice night.</p>

<p>If you create an event, do keep an eye on it. You should cancel your
request for help if you no longer need it. Details of events can be changed
after creation, but this can be a problem for any existing volunteers so
please try not to do this often. If you cancel or alter an event we will try
to to send an email to any existing volunteers to let them know, but you
might want to check with them that this arrived and that they know about the
changes.</p>

<p>AutoPerry emails reminders about events you are involved with, and will let
you know if details change (for example, if a request for help is cancelled).
To stop these message ending up in your spam folder, you may want to
whitelist this address: autoperry@cambridgeringing.info. You can opt in or
out of receiving email notifications from your account page.</p>

<p>You can edit your account details at any time. You can delete your account
providing you are not organising or volunteering to help with events which
have yet to happen. Information on <a href="{% url 'privacy' %}">how we use
the data you provide</a> is available.</p>

<p>The system's name - 'AutoPerry' - is based on ‘AutoSergei’ from
'Compare the Market' and is a an acknowledgement of the work that
Geoff Perryman of Orwell put in over many years running the Cambridge
District's original practice night support scheme (the 'PerryPeople').</p>

<p>The source code for AutoPerry is <a href="https://github.com/jw35/practice-night-support">
available on GitHub.</a>

</div>

{% endblock %}