
{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Your Account</h2>

<dl>
    <dt>Email address</dt>
    <dd>{{ user.email|urlize }}</dd>

    <dt>Name</dt>
    <dd>{{ user.get_full_name }}</dd>

    <dt>Tower</dt>
    <dd>{{ user.tower }}</dd>

    <dt>Send alerts and reminders about your events?</dt>
    <dd>{{ user.send_notifications|yesno|capfirst }}</dd>

    <dt>Send other emails?</dt>
    <dd>{{ user.send_other|yesno|capfirst }}</dd>

    <dt>Date joined</dt>
    <dd>{{ user.date_joined|date:"l, j F Y g:i a"}}</dd>

</dd>

<p>
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
    <a href="{% url 'password_change' %}" class="btn btn-outline-secondary">Change password</a>
    <a href="{% url 'account-edit' %}" class="btn btn-outline-secondary">Edit details</a>
    <a href="{% url 'account-cancel' %}" class="btn btn-outline-secondary">Cancel account</a>
</p>

<p><a href="{% url 'privacy' %}">How we use the information you provide</a></p>

<p><a href="{% url 'ical' uuid=user.uuid %}">Calendar</a></p>

{% endblock %}