<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2 class="text-center">Users</h2>

<form>

  <input type="hidden" name="f" value="1">

  <div class="row align-items-center justify-content-center">

	<div class="col-auto">
      <div class="form-check">
	    <input class="form-check-input" id="pending" name="pending" onchange="this.form.submit()" type="checkbox" value="yes" {% if flags.pending %}checked{% endif %}>
	    <label class="form-check-label" for="past">Include pending?</label>
      </div>
    </div>

    <div class="col-auto">
      <div class="form-check">
	    <input class="form-check-input" id="current" name="current" onchange="this.form.submit()" type="checkbox" value="yes"{% if flags.current %}checked{% endif %}>
	    <label class="form-check-label" for="cancelled">Include current?</label>
      </div>
    </div>

    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" id="suspended" name="suspended" onchange="this.form.submit()" type="checkbox" value="yes"{% if flags.suspended %}checked{% endif %}>
        <label class="form-check-label" for="suspended">Include suspended?</label>
      </div>
    </div>

    <div class="col-auto">
      <div class="form-check">
        <input class="form-check-input" id="cancelled" name="cancelled" onchange="this.form.submit()" type="checkbox" value="yes"{% if flags.cancelled %}checked{% endif %}>
        <label class="form-check-label" for="canceleld">Include cancelled?</label>
      </div>
    </div>

  </div>

</form>

<div class="row align-items-center justify-content-center mt-2 mb-2">
  <div class="col-auto">A = not approved</div>
  <div class="col-auto">E = email not validated</div>
  <div class="col-auto">S = suspended</div>
  <div class="col-auto">C = cancelled</div>
  <div class="col-auto">H = helper</div>
  <div class="col-auto">O = organiser</div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">

      {% if users %}

      <table class="table table-responsive table-sm">

        <thead>
        <tr>
        <td class="fw-bold">Name<br>Tower</td>
        <td class="fw-bold">Email<br>Phone</td>
        <td class="fw-bold">Created<br>Last Login</td>
        <td colspan="4" class="fw-bold">Flags</td>
        <td colspan="2" class="fw-bold">Counts</td>
      </tr>
    </thead>

    <tbody class="table-group-divider">

   {% for user in users %}
      <tr class="text-start">

        <td>
          {{ user.first_name }} <b>{{ user.last_name }}</b><br>
          {{ user.tower }}
        </td>

        <td>
          {{ user.email|urlize }}
          {% if user.send_notifications and user.send_other %}
          {% elif user.send_notifications %}
          (alerts only)
          {% elif user.send_other %}
          (other only)
          {% else %}
          (no emails)
          {% endif %}
          <br>
          {{ user.phone_number|truncatechars:30 }}
        </td>

        <td>
          {{ user.date_joined|date:"j M Y"}}<br>
          {{ user.last_login|date:"j M Y"|default:"never"}}
        </td>

        <td>{% if user.approved == None %}A{% endif %}</td>
        <td>{% if user.email_validated == None %}E{% endif %}</td>
        <td>{% if user.suspended != None %}S{% endif %}</td>
        <td>{% if user.cancelled != None %}C{% endif %}</td>

        <td>{% if user.num_helped %}H:{{ user.num_helped }}{% endif %}</td>
        <td>{% if user.num_owned %}O:{{ user.num_owned }}{% endif %}</td>

        {% if user.suspended %}
        <td><a href="{% url 'account-toggle' action='enable' user_id=user.pk %}" class="btn btn-outline-primary btn-sm">enable</a></td>
        {% else %}
        <td><a href="{% url 'account-toggle' action='suspend' user_id=user.pk %}" class="btn btn-outline-secondary btn-sm">suspend</a></td>
        {%endif %}

      </tr>

   {% endfor %}

 </tbody>

      </table>

<nav>
    <ul class="pagination justify-content-center">
      {% for page in page_range %}
        {% if page == 'X' %}
        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
        {% else %}
          <li class="page-item{% if page == events.number %} active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>
</nav>


      {% else %}

      <div class="alert alert-warning mt-3" role="alert">
      No users match the filters selected
      </div>

      {% endif %}

   </div>

</div>

{% endblock %}
