<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="col-md-8 mx-auto">

<h2>Account being created</h2>

<p>Thank you for creating an AutoPerry account.</p>

<p>Your account needs to be approved by an administrator. This should happen quite soon
and we will send you an email when it does.</p>

<p>You <b>also</b> need to confirm your email address. We have sent an email to {{ user.email|urlize }}
containing instructions for doing this.</p>

<p>This email will be from "{{ sender }}" with subject
"[AutoPerry]: Please complete account setup". If you can't find it,
please check you junk or spam folders.</p>

<p>If you still can't find it, you can try <a href="{% url 'account-resend' %}">sending it again</a>.

</div>

{% endblock %}
