<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>
{% if action == 'enable' %}
    Re-enable an account
{% else %}
    Suspend an account
{% endif %}
</h2>

{% if action == 'suspend' and events_as_organiser %}
<div class="alert alert-warning">
<p>The owner of this account is the organiser of events that have yet to happen:</p>
<ul>
    {% for event in events_as_organiser %}
    <li><a href="{% url 'event-details' event_id=event.pk %}" class="alert-link">{{ event.short_when }} {{ event.location }}</a></li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if action == 'suspend' and events_as_volunteer %}
<div class="alert alert-warning">
<p>The owner of this account has volunteered to help with events that have yet to happen:</p>
<ul>
    {% for event in events_as_volunteer %}
    <li><a href="{% url 'event-details' event_id=event.pk %}" class="alert-link">{{ event.short_when }} {{ event.location }}</a></li>
    {% endfor %}
</ul>
</div>
{% endif %}

<dl>

    <dt>Name:</dt>
    <dd>{{ target_user.first_name }} {{ target_user.last_name }}</dd>

    <dt>Tower</dt>
    <dd>{{ target_user.tower|default:'[none]' }}</dd>

    <dt>Email</dt>
    <dd>{{ target_user.email|urlize }}</dd>

</dl>

<p>Please confirm that this person that you want to {{ action }}.</p>

<p>When suspended, a user won't be able to interact with AutoPerry (other than
to edit their account details or to cancel their account). Nor will they
receive any email from AutoPerry.</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary{% if errors %}disabled{% endif %}" type="submit" name="confirm" value="{{ action|capfirst}}">
</form>

{% endblock %}