<!--webapp/templates/base.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoPerry</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'webapp/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/autoperry.css' %}">
    <link rel="apple-touch-icon" href="{% static 'webapp/apple-touch-icon.png' %}">
    <style>

</style>

</head>

<body>

  <div class="container-fluid">

{% include 'webapp/navigation.html' %}

{% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated and user.email_blocked %}
  <div class="alert alert-danger d-flex"  role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Emails to this account's address (<i>{{ user.email }}</i>) have been suspended, probably because
      the address doesn't seem to be working. If you think this address should work you can try
      <a class="alert-link" href="{% url 'account-resend' %}">re-confirming it</a>. Otherwise
      you can change your address from <a class="alert-link" href="{% url 'account-edit' %}">your account
      edit page</a>.
    </div>
  </div>
{% endif %}

{% block content %}{% endblock %}

  <footer class="d-flex flex-wrap justify-content-between align-items-top py-3 my-4 border-top">
    <div class="col-md-6 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">AutoPerry is provided by and for the
      <a href="https://cambridgeringing.info/" class="link-secondary">Cambridge District</a> of the
      <a href="https://www.elyda.org.uk/" class="link-secondary">Ely Diocesan Association of Church Bell Ringers</a></span>
    </div>

    <div class="col-md-4 justify-content-end d-flex text-muted">
      <a href="mailto:autoperry@cambridgeringing.info" class="link-secondary">autoperry@cambridgeringing.info</a>
    </div>
  </footer>

  </div>

  <script src="{% static 'webapp/bootstrap.bundle.min.js' %}"></script>

</body>

</html>