<!--webapp/templates/base.html-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoPerry</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'webapp/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/autoperry.css' %}">
    <link rel="apple-touch-icon" href="{% static 'webapp/apple-touch-icon.png' %}">
    <style>

</style>

</head>

<body>

  <div class="container-fluid">

    <div class="px-4 py-2 my-3 text-center text-bg-info p-3 col-lg-8 mx-auto">
      <h4>Demo site - all this data is fictional, none of it will be kept!</h4>
    </div>

{% include 'webapp/navigation.html' %}

{% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

  <footer class="d-flex flex-wrap justify-content-between align-items-top py-3 my-4 border-top">
    <div class="col-md-6 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">AutoPerry is provided by and for the
      <a href="https://cambridgeringing.info/" class="link-secondary">Cambridge District</a> of the
      <a href="https://www.elyda.org.uk/" class="link-secondary">Ely Diocesan Association of Church Bell Ringers</a></span>
    </div>

    <div class="col-md-4 justify-content-end d-flex text-muted">
      <a href="mailto:autoperry@cambridgeringing.info" class="link-secondary">autoperry@cambridgeringing.info</a>
    </div>
  </footer>

  </div>

  <script src="{% static 'webapp/bootstrap.bundle.min.js' %}"></script>

</body>

</html>