<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>Calendar links</h2>

<p>Most on-line calendar systems allow you to display events from external sources alongside your own commitments. You can use this feature to automatically include the events that you are involved with, or events still needing helpers, in your calendar.</p>

<p>Exactly how you do this varies between calendar systems - search your calendar's help pages or the web for detailed instructions. Some calendars call this <i>subscribing</i> to a calendar.</p>

<p>However it works, you will need the '<i>URL</i>' or '<i>Address</i>' or '<i>iCal Link</i>' of an AutoPerry calendar. There are two, one listing events you are organising or have volunteered to help with, and one listing events that need more helpers. You can find the relevant links listed near the bottom of your <a href="{% url 'account' %}">Your Account</a> page in AutoPerry. These links are personal to you and shouldn't be shared with others.</p>

<p>Most calendar systems only check for change in external calendars occasionally, so changes in AutoPerry won't appear in your calendar immediately though they will appear eventually.</p>

</div>

{% endblock %}