<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Decline offer of help</h2>

<div class="container">
<div class="row">
    <div class="col-md">

<h5>Event:</h5>

<dl>
    <dt>When</dt>
    <dd>{{event.when}}</dd>
    
    <dt>Location</dt>
    <dd>{{event.location}}</dd>

    <dt>Current helpers</dt>
    <dd>
    {% if event.helpers.all %}
      <ul style="list-style: none; padding: 0; margin: 0">
      {% for h in event.helpers.all %}
        <li>
          {{ h.get_full_name }} ({{ h.email|urlize }})
        </li>
      {% endfor %}
      </ul>
    {% else %}
      This event currently has no helpers
    {% endif %}
    </dd>

</dl>

</div>

    <div class="col-md">

<h5>Helper you wish to decline:</h5>

<dl>

    <dt>Name</dt>
    <dd>{{ helper.get_full_name }}</dd>

    <dt>Email address</dt>
    <dd>{{ helper.email|urlize }}</dd>

</dl>

</div>

</div>

</div>

<p>If at all possible, please don't decline offers of help.</p>

<p>If want to proceed, please confirm that you want to decline this
helper's offer of help at this event. We will try to send them an email to
let them know that they won't be needed, but you should contact them to check
that this arrived and to let them know why they are no longer required.</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" name="confirm" value="Decline offer">
</form>

{% endblock %}