<!--webapp/templates/index.html-->


{% extends 'webapp/authn.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-8 mx-auto">

<h2>Create an event</h2>

<p>Please make sure you have read the <a href="{% url 'guidelines-organisers' %}">guidelines
for event organisers</a> before creating an event.</p>

{{ form.media }}
<form method="post" action="{% url 'event-create' %}">
{% crispy form %}
<input class="btn btn-primary" type="submit" value="Create">
</form>

<script  type="text/javascript">
$( "#id_location" ).autocomplete({
  source: [
  {% for location in locations %}"{{location|escapejs}}",{% endfor %}
  ]
});
</script>

</div>

{% endblock %}
