<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Cancel a request for help</h2>

{% if event.current_helpers %}
<div class="alert alert-block alert-warning">
<p>There are helpers for this event. We will try to send them an email
to let them know that they won't be needed, but should check with them
that this arrived and they know that they don't need to turn up. If the
event is imminent, please telephone them if possible.</p>
    <ul class="m-0">
          {% for helper in event.current_helpers %}
        <li>{{ helper.get_full_name }} ({{ helper.contact_info }})</li>
          {% endfor %}
    </ul>
</div>
{% endif %}

<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"l, j F Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>
</dl>

<p>Are you sure you want to cancel your request for help at this event?</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" name="confirm" value="Yes, cancel request">
</form>

{% endblock %}