<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Event details</h2>

{% if event.past %}
<div class="alert alert-block alert-info">
   <p class="mb-0">This event has already happened</p>
</div>
{% elif event.cancelled %}
<div class="alert alert-block alert-info">
   <p class="mb-0">Requests for help at this event have been cancelled</p>
</div>
{% endif %}

<ul>
{% if user_is_owner %}
<li><strong>You are the organiser of this event</strong></li>
{% endif %}
{% if user_is_helper %}
<li><strong>You have volounteered to help with this event</strong></li>
{% endif %}
</ul>


<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"l, j F Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>

    {% if user_is_helper %}

    <dt>Event organiser</dt>
      {% if user_is_owner %}
      <dd>You</dd>
      {% else %}
      <dd>{{ event.owner.get_full_name }} ({{ event.contact|urlize }})</dd>
      {% endif %}

    {% endif %}

    <dt>Requested helpers</dt>
    <dd>{{event.helpers_required}}</dd>

    {% if user_is_owner %}

    <dt>Current helpers</dt>
    <dd>
    {% if event.helpers.all %}
      <ul style="list-style: none; padding: 0; margin: 0">
      {% for helper in event.helpers.all %}
        <li>
          {{ helper.get_full_name }} ({{ helper.email|urlize }})
          <a href="{% url 'decline' event_id=event.pk helper_id=helper.pk%}" class="btn btn-outline-secondary btn-sm d-none d-md-inline">Decline</a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      This event currently has no helpers
    {% endif %}
    </dd>

    <dt>Alert on changes to helpers</dt>
    <dd>{{ event.alerts|yesno|capfirst}}</dd>

    <dt>Event contact address</dt>
    <dd>{{ event.contact_address|urlize|default:"[none]" }}</dd>

    {% else %}

    <dt>Current helpers</dt>
    <dd>{{event.helpers.all|length}}</dd>

    {% endif %}

    <dt>Notes</dt>
    <dd>{{event.notes|default:"[none]"}}</dd>

    <dt>Event created</dt>
    <dd>{{event.created|date:"D, j M Y g:i a"}}</dd>

    {% if event.cancelled %}
    <dt>Request for help cancelled</dt>
    <dd>{{event.cancelled|date:"D, j M Y g:i a"}}</dd>
    {% endif %}

</dl>

<p>

    {% if user_is_helper %}

    <a href="{% url 'unvolunteer'  event_id=event.pk %}" class="btn btn-outline-secondary btn-sm{% if event.cancelled or event.past %} disabled{% endif %}">Withdraw offer to help</a>

{% else %}

    {% if event.helpers_needed %}<a href="{% url 'volunteer'  event_id=event.pk %}" class="btn btn-outline-primary btn-sm"{% if event.cancelled or event.past %} disabled{% endif %}>Volunteer</a>{% endif %}

{% endif %}

</p>

{% if user_is_owner %}

<p>

    <a href="{% url 'event-edit' event_id=event.pk %}" class="btn btn-outline-secondary btn-sm{% if event.cancelled or event.past %} disabled{% endif %}">Update details</a>
    <a href="{% url 'event-cancel' event_id=event.pk %}" class="btn btn-outline-secondary btn-sm{% if event.cancelled or event.past %} disabled{% endif %}">Cancel help request</a>

</p>

{% endif %}

<p>

    <a href="{% url 'event-clone' event_id=event.pk %}" class="btn btn-outline-secondary btn-sm">Duplicate event</a>

</p>



{% if perms.custom_user.administrator %}

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Administrator Info.
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      <dl>

        <dt>Event owner</dt>
        <dd>{{ event.owner.get_full_name }} ({{ event.contact|urlize }})</dd>

        <dt>Event contact address</dt>
        <dd>{{ event.contact_address|urlize|default:"[none]" }}</dd>

        <dt>Alert on changes to helpers</dt>
        <dd>{{ event.alerts|yesno|capfirst}}

        <dt>Owner last reminded</dt>
        <dd>{{ event.owner_reminded|date:"D, j M Y g:i a"|default:"Not yet reminded" }}</dd>

        <dt>Helpers</dt>
        <dd>
        {% if event.helpers.all %}
          <ul style="list-style: none; padding: 0; margin: 0">
          {% for helper in event.helpers.all %}
            <li>{{ helper.get_full_name }} ({{ helper.email|urlize }})</li>
          {% endfor %}
          </ul>
        {% else %}
        None
        {% endif %}
        </dd>
 
      </dl>



      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}