<!--webapp/templates/index.html-->


{% extends 'webapp/authn.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-8 mx-auto">

<h2>Update event</h2>

{{ form.media }}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Update">
</form>

<script  type="text/javascript">
$( "#id_location" ).autocomplete({
  delay: 0.
  source: [
  {% for location in locations %}
  "{{location}}",
  {% endfor %}
  ]
});
</script>

</div>

{% endblock %}
