<div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">

   <tr>
      <th>Where</th>
      <th>When</th>
      <th>Helpers</th>
      <th></th>
   </tr>

   {% for event in events %}
       <tr class="text-start {% if event.cancelled %}text-decoration-line-through{% endif %}{% if event.past %} table-secondary{% endif %}">
         <td>
            <strong>{{event.location}}</strong>
          </td>
         <td>
           {{event.when}}
         </td>
         <td>{{event.helpers_available}} of {{event.helpers_required}}</td>
         <td>
            {% if event.helpers_needed and user not in event.helpers.all %}
              <a href="{% url 'volunteer' event_id=event.pk %}" class="btn btn-outline-primary btn-sm">volunteer</a>
            {% else %}
              <a class="btn btn-outline-primary btn-sm disabled" aria-disabled="true">volunteer</a>
            {% endif %}
            <a href="{% url 'event-details' event_id=event.pk %}" class="btn btn-outline-primary btn-sm">details</a>
          </td>
      </tr>
   {% endfor %}

</table>

</div>

</div>
