<!--webapp/templates/index.html-->


{% extends 'webapp/authn.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h2>Update event details</h2>

{% if event.current_helpers %}
<div class="alert alert-block alert-warning">
<p>There are helpers for this event.</p>

<p>If you change it significantly (time, place, etc.) then these people may no
longer be able to help. We will try to send them an email to let them know
about any changes, but you might want to check with them that this arrived so
that they don't for example turn up at the wrong time or place.</p>

<p>The helpers are:</p>

    <ul class="m-0">
          {% for helper in event.current_helpers %}
        <li>{{ helper.get_full_name }} ({{ helper.email|urlize }})</li>
          {% endfor %}
    </ul>

</div>
{% endif %}

<div class="col-md-8 mx-auto">

{{ form.media }}
<form method="post">
{% crispy form %}
<input class="btn btn-primary" type="submit" value="Update">
</form>

<script  type="text/javascript">
$( "#id_location" ).autocomplete({
  source: [
  {% for location in locations %}"{{location|escapejs}}",{% endfor %}
  ]
});
</script>

</div>

{% endblock %}
