<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>Guidelines for helpers</h2>

<ul>

	<li>Unless you have opted out of alerts and reminders, you should receive an
    e-mail reminder on Sundays for the events you have volunteered for in the
    following week.</li>

    <li>You should also receive an automatic alert if an event you have
    agreed to help with is cancelled or if its timing is altered. Organisers
    are also encouraged to alert you by phone for events that were
    imminent. If you haven't provided a phone number, or if you don't allow
    alert and reminder emails, then you should check the web site before
    setting off.</li>

    <li>Please turn up on time (or at least warn the organiser if you won’t be
    able to).</li>

    <li>Remember, your job is to fit in and do whatever is needed to support
    the home band.  If you are not given the opportunity to circle the tower,
    or turn in the tenor, so be it.</li>

    <li>If you have useful suggestions or insights to offer, please do so,
    tactfully.</li>

    <li>Even if you don’t like the way the practice is being run, please go
    along with it, and certainly don’t try and take over.  You don’t have to
    volunteer there again!  If you have any serious concerns, please contact
    the District's Practice Night Support Officer at
    {{ 'pnso@cambridgeringing.info'|urlize }}.</li>

    <li>You must only use personal information that you find here
    (names, email addresses, phone numbers, etc.) to manage bell ringing
    support through events managed on this site and for nothing else without
    the individual's permission.</li>
  </ul>

</div>

{% endblock %}