<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>Guidelines for helpers</h2>

<ul>

	<li>You should receive an automatic e-mail reminder for the events you
	have volunteered for in the following week on a Sunday.</li>

    <li>Please turn up on time (or at least warn the organiser if you won’t be
    able to).</li>

    <li>Remember, your job is to fit in and do whatever is needed to support
    the home band.  If you are not given the opportunity to circle the tower,
    or turn in the tenor, so be it.</li>

    <li>If you have useful suggestions or insights to offer, please do so,
    tactfully.</li>

    <li>Even if you don’t like the way the practice is being run, please go
    along with it, and certainly don’t try and take over.  You don’t have to
    volunteer there again!</li>

  </ul>

</div>

{% endblock %}