<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="px-4 py-2 my-3 text-center">
  <h1>Welcome to AutoPerry</h1>
  <div class="col-md-6 mx-auto">
    <p >This is the BellRinging Support service of the
      <a href="https://cambridgeringing.info/">Cambridge District</a> of the
      <a href="https://www.elyda.org.uk/">Ely Diocesan Association of Church Bell Ringers</a>.
      See the <A href="{% url 'about' %}">about page</A> for more information.</p>
  </div>
</div>

{% if user.is_authenticated %}

<div class="text-center">

  {% if events.all %}

  <h2>Events needing helpers in the next
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ days }}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'index' %}?days=14">14</a></li>
    <li><a class="dropdown-item" href="{% url 'index' %}?days=28">28</a></li>
    <li><a class="dropdown-item" href="{% url 'index' %}?days=56">56</a></li>
  </ul>
  days</h2>
  {% include 'webapp/events-list-fragment.html' %}

  {% else %}

  <h2>There are no events needing helpers in the next {{ days }} day{{ days|pluralize }}</h2>

  {% endif %}

</div>

{% else %}

<main class="form-signin w-100 m-auto text-center">

<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

{% if errors %}
<div class="alert alert-danger" role="alert">
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<form method="POST" class="mb-3">
  {% csrf_token %}
  {{ login_form|crispy }}
  {% if next_page %}<input type="hidden" name="next_page" value="{{ next_page }}">{% endif %}
  <button class="btn btn-primary" type="submit" name="login">Sign in</button>
</form>

<p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>

<p><a href="{% url 'account-create' %}">Register for an account</a></p>

</main>

{% endif %}

{% endblock %}