
{% load static %}

<nav class="navbar navbar-expand-md bg-light mb-4 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'webapp/elyda_logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      AutoPerry
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {% if user.is_authenticated and user.is_enabled %}
        <li class="nav-item">
          {% url 'events' as url %}
          <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">List Events</a>
        </li>
        <li class="nav-item">
          {% url 'event-create' as url %}
          <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">Create Event</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu">
            {% url 'about' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">About AutoPerry</a></li>
            {% url 'guidelines-helpers' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">Guidelines for helpers</a></li>
            {% url 'guidelines-organisers' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">Guidelines for event organisers</a></li>
            {% url 'privacy' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">Data privacy</a></li>
          </ul>
        </li>
        {% if perms.custom_user.administrator %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            {% url 'account-approve-list' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">Approvals pending</a></li>
            {% url 'account-list' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">List all users</a></li>
            {% url 'send-emails' as url %}
            <li><a href="{{ url }}" class="dropdown-item {% if request.path == url %}active{% endif %}">Send emails</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ms-auto ms-2 ms-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.email }}
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'account' %}" class="dropdown-item">Account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

