<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>Guidelines for event organisers</h2>

<ul>

	<li>Please ask for the level of support you think you can realistically use.
    If you can’t be certain of a treble and four inside ringers for
    Cambridge, please don’t ask for a Cambridge ringer to support you.</li>

    <li>Please make it clear in your request exactly what minimum level of
    support you are hoping for.</li>

    <li>Helpers are just that – they are there to ring alongside your band. Do
    not expect them to take over running the practice.</li>

    <li>Always check before asking a helper to look after a novice handler.
    Not all experienced ringers are comfortable with this.</li>

    <li>Please respect your helpers.  If they offer ideas and opinions, listen
    to them.  You do not need to act on them (it’s still your practice), but
    another perspective may be just what your learners need.  Take advantage,
    not umbrage!</li>

    <li>Please look out for opportunities to reward your helpers – a helpers’
    touch, or the opportunity to do something like calling which they may not
    get at their home tower.</li>

    <li>You have the opportunity to sign up for an automatic e-mail reminder
    of your event 2 days in advance, with an easy mechanism to cancel it if
    needs be.</li>

    <li>If you do cancel or alter the timing of the practice, please do so
    within AutoPerry, and an e-mail will be automatically sent to helpers who
    have signed up. If this is very last minute though, please make sure that
    they are aware directly, ideally by telephoning them.</li>

    <li>You must only use personal information that you find here
    (names, email addresses, phone numbers, etc.) to manage bell ringing
    support through events managed on this site and for nothing else without
    the individual's permission.</li>

    <li>It is likely that most volunteers meet the Church of England's
    safeguarding requirements. However no check is made on this, and the safe
    running of any ringing event is the responsibility of the organiser
    (along with their incumbent and PCC). See <A
    href="https://www.elyda.org.uk/association/safeguarding">the Ely DA's
    guidance on safeguarding</A>.

  </ul>

</div>

{% endblock %}