<!--webapp/templates/index.html-->

{% extends 'authn.html' %}

{% block content %}

<div class="running">

<h2>How we use the data you provide</h2>

<p>The information you provide here will be used only to manage BellRinging
support through events managed on this site.</p>

<p>We store your name, email address, site preferences, dates of significant
events such as of account creation and cancellation, and details of events
that you create or volunteer to help with. You name and email address will be
disclosed to the organisers of events you volunteer to help with. They will
also be disclosed to volunteers for events you create, unless you provide a
different contact address for the event. Otherwise your details will not be
disclosed.</p>

<p>The system logs your actions on the site (login, event creation,
volunteering, etc.) for statistical and diagnostic purposes but these are
visible only to the system's administrators who have a duty to keep them
confidential. System administrators also have widespread access to all
information stored on the system under a duty of confidentiality. This
confidentiality may be waved under exceptional circumstances, for example in
the event of misuse of the site.</p>

<p>You may cancel you account at any time (though you will have to cancel any
outstanding events that you have created and any outstanding volunteering
commitments first). Personal information is deleted from cancelled accounts
and the system will show that an
'Anonymous user' participated in events that have already happened. Your identifiable information
may remain associated with your actions in the past in the system's logs.</p>

<p>This site is operated by the <a
href="https://cambridgeringing.info/">Cambridge District</a> of the <a
href="https://www.elyda.org.uk/">Ely Diocesan Association of Church
BellRingers</a>. Questions and requests for support using the site can be
sent to{{"autoperry@cambridgeringing.info" | urlize }}.</p>

</div>

{% endblock %}