<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<div class="running">

<h2>Home screen shortcuts</h2>

<p>On iPhones and Android devices it possible to add a bookmark to the AutoPerry web site as an icon on your home screen, making it easier to access.</p>

<h3>iPhones</h3>

<p>Select ‘Add to Home Screen’ from the browser’s share menu (box with an arrow pointing up and out at the top of the screen) when on the AutoPerry front page (you may have to scroll down a bit to find the ‘Add to Home Screen’ option). This gives you a button to launch AutoPerry. Each time you click it you will get a new AutoPerry window open in your browser, but it’s very easy to close them.</p>

<h3>Android phones</h3>

<p>On a Android phone, open the AutoPerry front page in Chrome, go to the three dots in the top right corner to get the menu up, and choose ‘Add to Home Screen’. If you’re in incognito mode, the option will not be there.</p>

</div>

{% endblock %}