<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2 class="text-center">Statistics</h2>

<div class="row justify-content-center">
  <div class="col-auto">

  <p><b>{{ people_totals.live }} registered users</b> (plus {{ people_totals.pending }} incomplete,
 {{ people_totals.suspended }} suspended and {{ people_totals.cancelled }} cancelled)</p>

    <table class="table table-responsive">

      <thead>
        <tr>
          <td>
            <div class="fw-bold text-center">Month</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Events delivered</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Events cancelled</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct organisers</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct locations</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Helpers wanted</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Helpers provided</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct helpers</div>
          </td>
        </tr>
      </thead>

      <tbody class="table-group-divider">

      {% for month in month_summary %}
        <tr{% if month.incomplete %} class="fst-italic"{% endif %}>

          <th>
            {{ month.month | date:"M Y"}}
          </th>

          <td class="text-end">
            {{ month.events }}
          </td>

          <td class="text-end">
            {{ month.cancelled_events }}
          </td>

          <td class="text-end">
            {{ month.owners }}
          </td>

          <td class="text-end">
            {{ month.locations }}
          </td>

          <td class="text-end">
            {{ month.helpers_wanted }}
          </td>

          <td class="text-end">
            {{ month.helpers_provided }}
          </td>

          <td class="text-end">
            {{ month.distinct_helpers }}
          </td class="text-end">

        </tr>
      {% endfor %}

      </tbody>

      <tfoot class="table-group-divider">

        <tr>

          <th>
            Summary
          </th>

          <td class="text-end">
            {{ event_totals.events }}
          </td>

          <td class="text-end">
            {{ event_totals.cancelled_events }}
          </td>

          <td class="text-end">
            [{{ event_totals.owners }}]
          </td>

          <td class="text-end">
            [{{ event_totals.locations }}]
          </td>

          <td class="text-end">
            {{ event_totals.helpers_wanted }}
          </td>

          <td class="text-end">
            {{ helper_totals.helpers_provided }}
          </td>

          <td class="text-end">
            [{{ helper_totals.distinct_helpers }}]
          </td>

        </tr>

      </tbody>

    </table>


   </div>


    <p>This table only includes events that are complete. As a result, the figures for the final
    month shown are <span class="fst-italic">probably incomplete</span>.</p>

</div>

{% endblock %}
