<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2 class="text-center">Statistics</h2>

<div class="row justify-content-center">
  <div class="col-auto">

  <p><b>{{ people_totals.live }} registered users</b> (plus {{ people_totals.pending }} incomplete,
 {{ people_totals.suspended }} suspended and {{ people_totals.cancelled }} cancelled)</p>

    <table class="table table-responsive">

      <thead>
        <tr>
          <td>
            <div class="fw-bold text-center">Month</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Events delivered</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Events cancelled</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct organisers</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct locations</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Helpers wanted</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Helpers provided</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Distinct helpers</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Offers withdrawn</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Offers declined</div>
          </td>
          <td>
            <div class="fw-bold stats-head-label">Offers cancelled</div>
          </td>
        </tr>
      </thead>

      <tbody class="table-group-divider">

      {% for month in month_summary %}
        <tr{% if month.incomplete %} class="fst-italic"{% endif %}>

          <th>
            {{ month.month | date:"M Y"}}
          </th>

          <td class="text-end">
            {{ month.events }}
          </td>

          <td class="text-end">
            {{ month.cancelled_events }}
          </td>

          <td class="text-end">
            {{ month.owners }}
          </td>

          <td class="text-end">
            {{ month.locations }}
          </td>

          <td class="text-end">
            {{ month.helpers_wanted }}
          </td>

          <td class="text-end">
            {{ month.helpers_provided }}
          </td>

          <td class="text-end">
            {{ month.distinct_helpers }}
          </td class="text-end">

          <td class="text-end">
            {{ month.helpers_withdrawn }}
          </td class="text-end">

          <td class="text-end">
            {{ month.helpers_declined }}
          </td class="text-end">

          <td class="text-end">
            {{ month.helpers_cancelled }}
          </td class="text-end">

        </tr>
      {% endfor %}

      </tbody>

      <tfoot class="table-group-divider">

        <tr>

          <th>
            Summary
          </th>

          <td class="text-end">
            {{ event_totals.events }}
          </td>

          <td class="text-end">
            {{ event_totals.cancelled_events }}
          </td>

          <td class="text-end fst-italic">
            {{ event_totals.owners }}
          </td>

          <td class="text-end fst-italic">
            {{ event_totals.locations }}
          </td>

          <td class="text-end">
            {{ event_totals.helpers_wanted }}
          </td>

          <td class="text-end">
            {{ helper_totals.helpers_provided }}
          </td>

          <td class="text-end fst-italic">
            {{ helper_totals.distinct_helpers }}
          </td>

          <td class="text-end">
            {{ helper_totals.helpers_withdrawn }}
          </td class="text-end">

          <td class="text-end">
            {{ helper_totals.helpers_declined }}
          </td class="text-end">

          <td class="text-end">
            {{ helper_totals.helpers_cancelled }}
          </td class="text-end">

        </tr>

      </tbody>

    </table>


   </div>


    <p>This table only includes events that are complete &ndash; the figures for the final
    month shown are <span class="fst-italic">probably incomplete</span>.</p>

    <h5>Key:</h5>

    <dl>
      <dt>Events delivered</dt>
      <dd>Number of events that (probably) happened.</dd>
    
      <dt>Events cancelled</dt>
      <dd>Number of events for which the request for help was cancelled before the event happened.</dd>

      <dt>Distinct organisers</dt>
      <dd>Number of individuals who organised events.</dd>

      <dt>Distinct locations</dt>
      <dd>Number of locations that hosted events (based on a textual comparison, so for example 'Little Shelford'
      and 'Lt. Shelford' would count separately)</dd>

      <dt>Helpers wanted</dt>
      <dd>Total number of helpers requested.</dd>

      <dt>Helpers provided</dt>
      <dd>Total number of helpers organised by AutoPerry.</dd>

      <dt>Distinct helpers</dt>
      <dd>Number of individuals who acted as helpers.</dd>

      <dt>Offers withdrawn</dt>
      <dd>Number of offers of help subsequently withdrawn by the helper.</dd>

      <dt>Offers declined</dt>
      <dd>Number of offers of help subsequently declined by the event organiser.</dd>

      <dt>Offers cancelled</dt>
      <dd>Number of offers of help at events where the request for help was subsequently cancelled.</dd>

    </dl>

</div>

{% endblock %}
