<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Withdraw offer to help at an event</h2>

{% if event.past %}
   <h3><span class="badge text-bg-warning">This event has already happened</span></h3>
{% elif event.cancelled %}
   <h3><span class="badge text-bg-warning">Requests for help at this event have been cancelled</span></h3>
{% endif %}

<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"l, j F Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>
</dl>

<p>Please confirm this is the event you no longer what to help with.</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="confirm" value="Withdraw offer to help"{% if errors %}disabled{% endif %}>
</form>

{% endblock %}