<!--webapp/templates/index.html-->

{% extends 'webapp/authn.html' %}

{% block content %}

<h2>Volunteer to help at an event</h2>

<p>Please make sure you have read the <a href="{% url 'guidelines-helpers' %}">guidelines
for helpers</a> before volunteering to help.</p>

<dl>
    <dt>Date</dt>
    <dd>{{event.start|date:"l, j F Y"}}</dd>

    <dt>Start</dt>
    <dd>{{event.start|date:"g:i a"}}</dd>

    <dt>End</dt>
    <dd>{{event.end|date:"g:i a"}}</dd>

    <dt>Location</dt>
    <dd>{{event.location}}</dd>

    <dt>Notes</dt>
    <dd>{{event.notes|default:"[none]"}}</dd>
</dl>

<p>Please confirm this is the event you want to volunteer for{% if event.notes %} and
that you meet any helper requirements in the notes above{% endif %}.</p>

<form method="post">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="confirm" value="Volunteer">
</form>

{% endblock %}